.info{
  background-color:pink;
}
.hobbies{
  background-color:Salmon;
  color:white;
  
  
}
li:first-letter{
  color:pink;
  font-size:30px;
}
p{
  font-family:monospace;
  line-height:1.5em;
  text-align:left;

}
ul{
  text-align:left;
}


#name{
  color:green;
  font-family:Garamond;
  font-weight:bold;
  
}
h1{
  font-family:italic;
  color:#3498db;
   font-size:2em;
  letter-spacing:0.2rem;
  text-transform:uppercase;
 
}
h1:hover{
  color:pink;
}
.purple{
  background-color:white;
  color:PURPLE;
  text-decoration:line-through;
}
.purple:hover{
  color:pink;
}
.view{
  color:#ffbd;
  font-weight:bold;
  
}
#me{
  width:150px;
  height:120px;
  float:left;
  margin-right:6px;
  margin-bottom:8px;
  padding:6px;
  border:4px dotted gray;
}


  
